* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #d1d1d1;
}

p {
  margin: 300px 0;
}

/* navbar */
.fmenu {
  width: 100%;
  background: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 50px;
  padding: 0 40px
  /* primary menu */
  /* toggle menu button */
}
.fmenu .fmenu-logo {
  height: 40px;
  margin-right: auto;
}
.fmenu .fmenu-search {
  position: relative;
}
.fmenu .fmenu-search input {
  width: 0;
  height: 30px;
  background: white;
  border: none;
  border-radius: 2px;
  opacity: 0.9;
  margin: 0 10px;
  -webkit-transition: 0.3s ease-in-out all;
          transition: 0.3s ease-in-out all;
}
.fmenu .fmenu-search input:focus {
  width: 150px;
  padding: 0 5px;
}
.fmenu .fmenu-search label {
  color: white;
  cursor: pointer;
}
.fmenu .fmenu-login {
  color: white;
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}
.fmenu .fmenu-login i {
  cursor: pointer;
}
.fmenu .fmenu-login form {
  position: absolute;
  display: none;
  list-style-type: none;
  top: 100%;
  right: 0;
  background: #333;
  padding: 15px;
  text-align: center;
}
.fmenu .fmenu-login form input {
  padding: 5px;
  margin: 5px;
  color: #333;
  border: none;
}
.fmenu .fmenu-login form button {
  background: white;
  color: #333;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
}
.fmenu .fmenu-login form button:hover {
  opacity: 0.7;
}
.fmenu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #333
  /* menu item with submenu */
}
@media(max-width: 769px) {
  .fmenu ul {
    display: none;
  }
}
.fmenu ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.fmenu ul li a:hover {
  background: white;
  color: #333;
}
.fmenu ul .with-subfmenu {
  position: relative
  /* submenu */
}
.fmenu ul .with-subfmenu:after {
  content: "+";
  position: absolute;
  color: white;
  top: 10px;
  right: 0px;
}
.fmenu ul .with-subfmenu:hover:after {
  color: #333;
}
.fmenu ul .with-subfmenu .subfmenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  list-style-type: none;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s ease-in-out all;
          transition: 0.3s ease-in-out all;
  display: block;
}
.fmenu ul .with-subfmenu .subfmenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: #333;
}
.fmenu ul .with-subfmenu .subfmenu a:hover {
  background: white;
  color: #333;
}
@media(max-width: 769px) {
  .fmenu ul .with-subfmenu .subfmenu {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.fmenu ul .with-subfmenu .subfmenu .with-subfmenu:after {
  color: white;
}
.fmenu ul .with-subfmenu .subfmenu .with-subfmenu .subfmenu {
  left: 100%;
  top: 0;
}
.fmenu ul .with-subfmenu:hover > .subfmenu {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.fmenu .fmenu-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  font-size: 25px;
  border: none;
  cursor: pointer;
  color: white;
  display: none;
}
@media(max-width: 769px) {
  .fmenu .fmenu-btn {
    display: block;
  }
}
/*menu mobile mode */
[data-fmenu-allMobile="true"] ul {
  display: none
  /* menu item */
  /* menu item with submenu */
}
[data-fmenu-allMobile="true"] ul li {
  width: 100%;
}
[data-fmenu-allMobile="true"] ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
}
[data-fmenu-allMobile="true"] ul li a:hover {
  background: white;
  color: #333;
}
[data-fmenu-allMobile="true"] ul .with-subfmenu {
  /* submenu */
}
[data-fmenu-allMobile="true"] ul .with-subfmenu a {
  position: relative;
}
[data-fmenu-allMobile="true"] ul .with-subfmenu:hover .subfmenu {
  visibility: visible;
}
[data-fmenu-allMobile="true"] ul .with-subfmenu .subfmenu {
  position: relative;
  display: none;
  margin-left: 20px;
}
[data-fmenu-allMobile="true"] ul .with-subfmenu .subfmenu .subfmenu {
  left: 0 !important;
}
[data-fmenu-allMobile="true"] ul .with-subfmenu .subfmenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
[data-fmenu-allMobile="true"] ul .with-subfmenu .subfmenu a:after {
  content: "";
}
[data-fmenu-allMobile="true"] .fmenu-btn {
  display: block;
}

/*show the in mobile mode */
.fmenu-show {
  display: block
  /* primary menu */
}
.fmenu-show ul {
  list-style-type: none;
  display: block;
  margin: 20px auto
  /* menu item */
  /* menu item with submenu */
}
.fmenu-show ul li {
  width: 100%;
}
.fmenu-show ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
}
.fmenu-show ul .with-subfmenu {
  /* submenu */
}
.fmenu-show ul .with-subfmenu a {
  position: relative;
}
.fmenu-show ul .with-subfmenu:hover .subfmenu {
  visibility: visible;
}
.fmenu-show ul .with-subfmenu .subfmenu {
  position: relative;
  display: none;
  margin-left: 20px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.fmenu-show ul .with-subfmenu .subfmenu .subfmenu {
  left: 0 !important;
}
.fmenu-show ul .with-subfmenu .subfmenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
.fmenu-show ul .with-subfmenu .subfmenu a:after {
  content: "";
}

/* toggle submenu class */
.subfmenu-show {
  display: block !important;
}

/*rtl menu */
[data-fmenu-dir="rtl"] {
  direction: rtl
  /* toggle menu button */
  /* menu item with submenu */
}
[data-fmenu-dir="rtl"] .fmenu-login form {
  right: auto;
  left: 0;
}
[data-fmenu-dir="rtl"] .fmenu-logo {
  margin-left: auto;
  margin-right: 0;
}
[data-fmenu-dir="rtl"] .fmenu-btn {
  right: calc(100% - 40px);
  top: 10px;
}
[data-fmenu-dir="rtl"] .with-subfmenu {
  position: relative
  /* submenu */
}
[data-fmenu-dir="rtl"] .with-subfmenu:after {
  content: "+";
  position: absolute;
  right: 85% !important;
}
[data-fmenu-dir="rtl"] .with-subfmenu .subfmenu {
  top: 100%;
  left: 0;
}
[data-fmenu-dir="rtl"] .with-subfmenu .subfmenu .subfmenu {
  right: 100%;
}

.fmenu-show[data-fmenu-dir="rtl"] {
  /* submenu */
}
.fmenu-show[data-fmenu-dir="rtl"] .subfmenu {
  position: relative;
  display: none;
  margin-right: 20px;
}
.fmenu-show[data-fmenu-dir="rtl"] .subfmenu .subfmenu {
  right: 20px;
}

/*vertical menu */
[data-fmenu-vertical="true"] {
  /* primary menu */
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.5s ease-in-out all;
          transition: 0.5s ease-in-out all;
  height: 100vh;
  width: 200px;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0 !important
  /* menu item */
  /* menu item with submenu */
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) li {
  width: 100%;
  position: relative;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu {
  position: relative
  /* submenu */
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu a {
  position: relative;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu:hover .subfmenu {
  visibility: visible;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu .subfmenu {
  position: relative;
  display: none;
  margin: 0 !important;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu .subfmenu .subfmenu {
  right: 0 !important;
  left: 0 !important;
  display: none;
  margin: 0 !important;
  position: relative;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu .subfmenu .subfmenu a {
  padding: 10px 35px;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu .subfmenu a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
}
[data-fmenu-vertical="true"] ul:not(.subfmenu) .with-subfmenu .subfmenu a:after {
  content: "";
}
[data-fmenu-vertical="true"] .fmenu-btn {
  display: block;
}

/*hide vertical menu */
.hide-vertical ul {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

[data-fmenu-theme="london"] {
  background: #219c56
  /* primary menu */
}
[data-fmenu-theme="london"] .fmenu-login form {
  background: #219c56;
}
[data-fmenu-theme="london"] .fmenu-login form input {
  color: #219c56;
}
[data-fmenu-theme="london"] .fmenu-login form button {
  color: #219c56;
}
[data-fmenu-theme="london"] ul {
  background: #219c56
  /* menu item with submenu */
}
[data-fmenu-theme="london"] ul li a:hover {
  background: white;
  color: #219c56;
}
[data-fmenu-theme="london"] ul .with-subfmenu {
  /* submenu */
}
[data-fmenu-theme="london"] ul .with-subfmenu:hover:after {
  color: #219c56;
}
[data-fmenu-theme="london"] ul .with-subfmenu .subfmenu a {
  color: white;
  background: #219c56;
}
[data-fmenu-theme="london"] ul .with-subfmenu .subfmenu a:hover {
  background: white;
  color: #219c56;
}

[data-fmenu-theme="paris"] {
  background: #12489a
  /* primary menu */
}
[data-fmenu-theme="paris"] .fmenu-login form {
  background: #12489a;
}
[data-fmenu-theme="paris"] .fmenu-login form input {
  color: #12489a;
}
[data-fmenu-theme="paris"] .fmenu-login form button {
  color: #12489a;
}
[data-fmenu-theme="paris"] ul {
  background: #12489a
  /* menu item with submenu */
}
[data-fmenu-theme="paris"] ul li a:hover {
  background: white;
  color: #12489a;
}
[data-fmenu-theme="paris"] ul .with-subfmenu {
  /* submenu */
}
[data-fmenu-theme="paris"] ul .with-subfmenu:hover:after {
  color: #12489a;
}
[data-fmenu-theme="paris"] ul .with-subfmenu .subfmenu a {
  color: white;
  background: #12489a;
}
[data-fmenu-theme="paris"] ul .with-subfmenu .subfmenu a:hover {
  background: white;
  color: #12489a;
}

/*bottom menu */
[data-fmenu-position="bottom"] {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*fixed menu */
[data-fmenu-fixed="true"] {
  position: fixed;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=fmenu.css.map */