*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #d1d1d1;
}
p{
  margin: 300px 0
}
@import 'fmenuNormal';
@import 'fmenuAllmobile';
@import 'fmenuToggle';
@import 'fmenurtl';
@import 'fmenuVertical';
@import 'fmenuThemes';


/*bottom menu*/
[data-fmenu-position="bottom"]{
  position: absolute;
  bottom: 0;
  left: 0;
}
/*top menu*/
[data-fmenu-position="top"]{
  position: absolute;
  top: 0;
  left: 0;
}
/*fixed menu*/
[data-fmenu-fixed="true"]{
  position: fixed;
  left: 0;
}
